In [1]:
import numpy as np
import pandas as pd
from datetime import datetime as dt
import itertools

In [2]:
loc = "/Users/Pulkitmaheshwari/Documents/Football_data/"
r_df0 = pd.read_csv(loc + "E0.csv")
r_df1 = pd.read_csv(loc + "E0 (1).csv")
r_df2 = pd.read_csv(loc + "E0 (2).csv")
r_df3 = pd.read_csv(loc + "E0 (3).csv")
r_df4 = pd.read_csv(loc + "E0 (4).csv")
r_df5 = pd.read_csv(loc + "E0 (5).csv")
r_df6 = pd.read_csv(loc + "E0 (6).csv")
r_df7 = pd.read_csv(loc + "E0 (7).csv")
r_df8 = pd.read_csv(loc + "E0 (8).csv")
r_df9 = pd.read_csv(loc + "E0 (9).csv")
r_df10 = pd.read_csv(loc + "E0 (10).csv")
r_df11 = pd.read_csv(loc + "E0 (11).csv")
r_df12 = pd.read_csv(loc + "E0 (12).csv")
r_df13 = pd.read_csv(loc + "E0 (13).csv")

In [3]:
def parse_date(date):
    if date == '':
        return None
    else:
        return dt.strptime(date, '%d/%m/%y').date()
    

def parse_date_other(date):
    if date == '':
        return None
    else:
        return dt.strptime(date, '%d/%m/%Y').date()

In [4]:
r_df0.Date = r_df0.Date.apply(parse_date)
r_df1.Date = r_df1.Date.apply(parse_date)    
r_df2.Date = r_df2.Date.apply(parse_date)          
r_df3.Date = r_df3.Date.apply(parse_date)  
r_df4 = pd.DataFrame(r_df4)
r_df4.Date = pd.to_datetime(r_df4.Date)
r_df5.Date = r_df5.Date.apply(parse_date)    
r_df6.Date = r_df6.Date.apply(parse_date)    
r_df7.Date = r_df7.Date.apply(parse_date)    
r_df8.Date = r_df8.Date.apply(parse_date)    
r_df9.Date = r_df9.Date.apply(parse_date)
r_df10.Date = r_df10.Date.apply(parse_date)
r_df11.Date = r_df11.Date.apply(parse_date)
r_df12.Date = r_df12.Date.apply(parse_date)    
r_df13.Date = r_df13.Date.apply(parse_date)

In [5]:
colnames = ['Date','HomeTeam','AwayTeam','FTHG','FTAG','FTR']

In [6]:
df0 = r_df0[colnames]
df1 = r_df1[colnames]
df2 = r_df2[colnames]
df3 = r_df3[colnames]
df4 = r_df4[colnames]
df5 = r_df5[colnames]
df6 = r_df6[colnames]
df7 = r_df7[colnames]
df8 = r_df8[colnames]
df9 = r_df9[colnames]
df10 = r_df10[colnames]
df11= r_df11[colnames]
df12 = r_df12[colnames]
df13= r_df13[colnames]

In [9]:
df0.head()

         Date      HomeTeam        AwayTeam  FTHG  FTAG FTR
0  2018-08-10    Man United       Leicester     2     1   H
1  2018-08-11   Bournemouth         Cardiff     2     0   H
2  2018-08-11        Fulham  Crystal Palace     0     2   A
3  2018-08-11  Huddersfield         Chelsea     0     3   A
4  2018-08-11     Newcastle       Tottenham     1     2   A

In [24]:
# Get stats for teams


# create a dictionary with team as the key

#get the number of teams
teams = {}
for i in df0.groupby('HomeTeam').mean().T.columns:
    teams[i] = []

#the value corresponding to keys is a list containing the match location.    
for i in range(len(df0)):
    HTGS = df0.iloc[i]['FTHG']
    ATGS = df0.iloc[i]['FTAG']
    teams[df0.iloc[i].HomeTeam].append(HTGS)
    teams[df0.iloc[i].AwayTeam].append(ATGS)

ValueError: Shape of passed values is (20, 8), indices imply (20, 38)

In [53]:
# Create a dataframe for goals scored where rows are teams and cols are matchweek.
GoalsScored = pd.DataFrame(data=teams, index = [i for i in range(1,9)]).T
GoalsScored[0] = 0
# Aggregate to get uptil that point
for i in range(2,9):
    GoalsScored[i] = GoalsScored[i] + GoalsScored[i-1]
return GoalsScored

SyntaxError: 'return' outside function (<ipython-input-53-670c020c3f37>, line 7)

In [32]:
df0.groupby('HomeTeam').mean().T.columns

Index(['Arsenal', 'Bournemouth', 'Brighton', 'Burnley', 'Cardiff', 'Chelsea',
       'Crystal Palace', 'Everton', 'Fulham', 'Huddersfield', 'Leicester',
       'Liverpool', 'Man City', 'Man United', 'Newcastle', 'Southampton',
       'Tottenham', 'Watford', 'West Ham', 'Wolves'],
      dtype='object', name='HomeTeam')

In [47]:
uniquenameslist = 

teams = {}
for i in df0.groupby('HomeTeam').mean().T.columns:
    teams[i] = []

In [84]:
for i in range(len(df0)):
        HTGS = df0.iloc[i]['FTHG']
        ATGS = df0.iloc[i]['FTAG']
        teams[df0.iloc[i].HomeTeam].append(HTGS)
        teams[df0.iloc[i].AwayTeam].append(ATGS)

In [94]:
pd.DataFrame(data=teams).T

,0,1,2,3,4,5,6,7,8,9,...,14,15,16,17,18,19,20,21,22,23
Arsenal,0,2,3,3,2,2,2,5,0,2,...,2,5,0,2,3,3,2,2,2,5
Bournemouth,2,2,2,0,4,0,2,4,2,2,...,2,4,2,2,2,0,4,0,2,4
Brighton,0,3,0,2,2,1,0,1,0,3,...,0,1,0,3,0,2,2,1,0,1
Burnley,0,1,2,0,0,4,2,1,0,1,...,2,1,0,1,2,0,0,4,2,1
Cardiff,0,0,0,2,1,0,1,0,0,0,...,1,0,0,0,0,2,1,0,1,0
Chelsea,3,3,2,2,4,0,1,3,3,3,...,1,3,3,3,2,2,4,0,1,3
Crystal Palace,2,0,1,0,1,0,1,0,2,0,...,1,0,2,0,1,0,1,0,1,0
Everton,2,2,2,1,1,0,3,2,2,2,...,3,2,2,2,2,1,1,0,3,2
Fulham,0,1,4,2,0,1,0,1,0,1,...,0,1,0,1,4,2,0,1,0,1
Huddersfield,0,1,0,1,0,1,0,1,0,1,...,0,1,0,1,0,1,0,1,0,1
Leicester,1,2,2,1,2,3,2,1,1,2,...,2,1,1,2,2,1,2,3,2,1
Liverpool,4,2,1,2,2,3,1,0,4,2,...,1,0,4,2,1,2,2,3,1,0
Man City,2,6,1,2,3,5,2,0,2,6,...,2,0,2,6,1,2,3,5,2,0
Man United,2,2,0,2,2,1,1,3,2,2,...,1,3,2,2,0,2,2,1,1,3
Newcastle,1,0,1,1,1,0,0,2,1,0,...,0,2,1,0,1,1,1,0,0,2
Southampton,0,1,1,2,2,0,0,0,0,1,...,0,0,0,1,1,2,2,0,0,0
Tottenham,2,3,3,1,1,2,2,1,2,3,...,2,1,2,3,3,1,1,2,2,1
Watford,2,3,2,2,1,1,0,0,2,3,...,0,0,2,3,2,2,1,1,0,0
West Ham,0,1,1,0,3,0,3,0,0,1,...,3,0,0,1,1,0,3,0,3,0
Wolves,2,0,1,1,1,1,2,1,2,0,...,2,1,2,0,1,1,1,1,2,1

In [ ]:
# Gets the goals scored agg arranged by teams and matchweek
def get_goals_scored(playing_stat):
    # Create a dictionary with team names as keys
    teams = {}
    for i in playing_stat.groupby('HomeTeam').mean().T.columns:
        teams[i] = []
    
    # the value corresponding to keys is a list containing the match location.
    for i in range(len(playing_stat)):
        HTGS = playing_stat.iloc[i]['FTHG']
        ATGS = playing_stat.iloc[i]['FTAG']
        teams[playing_stat.iloc[i].HomeTeam].append(HTGS)
        teams[playing_stat.iloc[i].AwayTeam].append(ATGS)
    
    # Create a dataframe for goals scored where rows are teams and cols are matchweek.
    GoalsScored = pd.DataFrame(data=teams, index = [i for i in range(1,39)]).T
    GoalsScored[0] = 0
    # Aggregate to get uptil that point
    for i in range(2,39):
        GoalsScored[i] = GoalsScored[i] + GoalsScored[i-1]
    return GoalsScored

In [15]:
df0.iloc[5]['FTHG']

2

In [12]:
len(df0)

80

In [ ]:
pd.DataFrame(data=teams, index = [i for i in range(1,39)]).T